DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>"
BASE_RPC_URL="https://base-mainnet…"
LOCALHOST_RPC_URL="http://localhost:8545"
DATABASE_SCHEMA=
NODE_ENV=
ENB_BOUNTY_ADDRESS=""
ENB_TASK_REWARDS_ADDRESS=""